.root {
  font-size: 2em;
  color: #c8d1cc;
  font-family: "Raleway", sans-serif;
}

.containerBoosted {
  display: flex;
  flex-direction: row;
}
.flexItem1 {
  background: black;
  width: 75%;
  height: 100vh;

  line-height: 150px;
  color: white;
  border: solid #379683;
  font-size: 3em;
  text-align: center;
}
.flexItem2 {
  overflow-y: scroll;
  height: 100vh;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #c8d1cc;
  background-color: #7395ae;
  border: none;
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-bottom: 5px;
}

.rightContainer:hover {
  background-color: #557a95;
}

.rightContainer:active {
  background-color: #557a95;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.main {
  background-color: #5d5c61;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #c8d1cc;
  background-color: #7395ae;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #557a95;
}

.button:active {
  background-color: #557a95;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.back {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #c8d1cc;
  background-color: #7395ae;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: "Raleway", sans-serif;
  width: 25%;
  margin-bottom: 20px;
  margin-left: 20px;
}
.back:hover {
  background-color: #557a95;
}

.back:active {
  background-color: #557a95;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
